@charset "UTF-8";
/*font-size*/
/*webcolor*/
/*color*/
/**
 *
 * 使用  @extend  引入
 * placeholder code
 *
 */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.box {
  width: 1200px;
  margin: 0 auto;
}

/* 设备尺寸 */
/* 媒体查询 */
body {
  min-height: 100vh;
}

*[btn],
.btn {
  cursor: pointer;
}

td,
th {
  text-align: center;
}

video {
  object-fit: contain;
}

.cloud {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  z-index: 100;
  background: rgba(47, 47, 77, 0.6);
}

.ovh {
  overflow: hidden;
}

.shadow, .common-layer {
  box-shadow: 0 0 8px rgba(149, 171, 204, 0.35);
}

.hover {
  transition: box-shadow 0.5s;
}
.hover:hover {
  box-shadow: 0 0 8px rgba(149, 171, 204, 0.5);
}

.h1 {
  position: absolute;
  display: none;
  left: -999px;
  z-index: -999;
  opacity: 0;
}

.radius, .common-checkbox-txt .label {
  border-radius: 4px;
}

.img-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.img-box a,
.img-box img,
.img-box .img {
  display: block;
  height: 100%;
}

.imghover {
  overflow: hidden;
}
.imghover img,
.imghover .img {
  transition: all 0.5s ease-in-out;
}
.imghover:hover img {
  transform: scale(1.1, 1.1);
}

.common-layer {
  position: fixed;
  display: none;
  left: 50%;
  top: 50%;
  z-index: 110;
  border-radius: 6px;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
.common-layer .title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 18px;
  height: 26px;
}
.common-layer .title .close {
  width: 26px;
  height: 26px;
  opacity: 0.6;
}
.common-layer .title .close .img {
  width: 100%;
}
.common-layer input {
  font-size: 14px;
}

.common_blue {
  display: inline-block;
  padding: 0 10px;
  font-size: 12px;
  color: #2c71ff;
}
.common_blue:hover {
  color: #0051f8;
}

.common_red {
  display: inline-block;
  padding: 0 10px;
  font-size: 12px;
  color: #ff2e2e;
}
.common_red:hover {
  color: #fa0000;
}

.common-link {
  display: inline-block;
  padding: 8px 12px;
  line-height: 1;
  font-size: 14px;
  border-radius: 4px;
  background-color: #fff;
  color: #2c71ff;
}
.common-link:hover {
  color: #0040c5;
}

.common-checkbox .input {
  display: none;
}
.common-checkbox .label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 14px;
  height: 14px;
  border-radius: 4px;
  border: 1px solid gray;
  background-color: #fff;
}
.common-checkbox .label::before {
  content: " ";
  display: inline-block;
  position: absolute;
  width: 8px;
  height: 4px;
  top: 3px;
  left: 2px;
  border: 2px solid #ff2e2e;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  opacity: 0;
}
.common-checkbox .input:checked + .label {
  background: #fff;
  border-color: #ff2e2e;
}
.common-checkbox .input:checked + .label::before {
  opacity: 1;
  transform: all 0.5s;
}

.common-checkbox-bun .input {
  display: none;
}
.common-checkbox-bun .label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.2vw;
  height: 3.2vw;
  border-radius: 7px;
  border: 1px solid #999;
  background-color: #fff;
}
.common-checkbox-bun .label::before {
  content: " ";
  display: inline-block;
  position: absolute;
  width: 2.1333333333vw;
  height: 2.1333333333vw;
  top: 0.5333333333vw;
  left: 0.5333333333vw;
  border-radius: 50%;
  opacity: 0;
  background-color: #1c28c7;
}
.common-checkbox-bun .input:checked + .label {
  background: #fff;
  border-color: #1c28c7;
}
.common-checkbox-bun .input:checked + .label::before {
  opacity: 1;
  transform: all 0.5s;
}

.common-checkbox-txt {
  display: inline-block;
  cursor: pointer;
}
.common-checkbox-txt .input {
  position: absolute;
  z-index: -999;
  left: -999px;
}
.common-checkbox-txt .label {
  display: block;
  width: 18.1333333333vw;
  height: 6.2222222222vw;
  line-height: 6.2222222222vw;
  text-align: center;
  border: 2px solid #84889c;
  border-radius: 1.3333333333vw;
  font-size: 3.2vw;
  background-color: #fff;
  color: #84889c;
}
.common-checkbox-txt .input:checked ~ .label {
  background-color: #1c28c7;
  color: #fff;
  border-color: #1c28c7;
}

body, button, input, select, textarea {
  font-family: Tahoma, Helvetica, "Microsoft YaHei", Arial, sans-serif;
  color: #666;
}

*,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ul,
ol,
li,
th,
td,
p,
blockquote,
pre,
form,
fieldset,
legend,
input,
button,
textarea,
article,
aside,
footer,
header,
hgroup,
nav,
section,
menu,
figure,
figcaption,
dialog {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

li {
  list-style: none;
}

fieldset, img, dialog {
  border: 0;
  vertical-align: middle;
}

input, textarea {
  outline-style: none;
}

textarea {
  resize: none;
}

article, aside, footer, header, hgroup, nav, section, menu {
  display: block;
}

address, caption, cite, code, dfn, th, var, em, i, b {
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
  outline: none;
  color: #666;
}

a:hover {
  text-decoration: none;
  color: #ae0000;
}

a {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

button, input {
  border: none;
}

input[disabled=disabled]::-webkit-input-placeholder {
  color: #bbb;
}

input[disabled=disabled]::-moz-placeholder {
  color: #bbb;
}

input[disabled=disabled]:-ms-input-placeholder {
  color: #bbb;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #bbb;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #bbb;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #bbb;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #bbb;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.page-page {
  width: 100%;
  min-height: 100vh;
  background: #fff url("../img/img08.png") no-repeat center bottom/100%;
}
.page-page .page-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 10;
  width: 91.5555555556vw;
  margin-left: calc((100% - 91.5555555556vw) / 2);
  padding-top: 6.2222222222vw;
}
.page-page .page-header .logo-box {
  width: 17.5111111111vw;
  height: 5.6888888889vw;
}
.page-page .page-header .logo-box .logo {
  display: block;
  width: 100%;
  height: 100%;
}
.page-page .page-header .right-txt {
  font-size: 2.3111111111vw;
  line-height: 5.6888888889vw;
  color: #fff;
}
.page-page .banner-main {
  position: relative;
  width: 100%;
  height: 133.3333333333vw;
  margin-bottom: 5.7777777778vw;
  background: url("../img/img02.png") no-repeat center top/100%;
}
.page-page .banner-main .txt-show {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
}
.page-page .banner-main .banner-title {
  font-weight: bold;
  font-size: 4.9777777778vw;
  margin-bottom: 3.1111111111vw;
  color: #1c28c7;
}
.page-page .banner-main .banner-txt {
  font-size: 2.6666666667vw;
  line-height: 4.2666666667vw;
  color: #333;
}
.page-page .banner-main .banner-txt:last-of-type {
  margin-bottom: 3.1111111111vw;
}
.page-page .banner-main .banner-big {
  display: inline-block;
  font-size: 3.2vw;
  line-height: 7.1111111111vw;
  height: 7.1111111111vw;
  border-radius: 1.3333333333vw;
  padding: 0 5.6vw;
  background-color: #1c28c7;
  color: #fff;
}
.page-page .form-main {
  width: 89.4222222222vw;
  margin: 0 auto 0;
}
.page-page .form-main .form-list {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 11.5555555556vw;
  padding: 1.7777777778vw 0;
  border-radius: 1.3333333333vw;
  margin-bottom: 3.5555555556vw;
  font-size: 3.7333333333vw;
  border: solid 2px #d4d4d4;
  background-color: #fff;
}
.page-page .form-main .form-list .inp {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-left: 3.5555555556vw;
  line-height: 100%;
  font-size: 3.7333333333vw;
}
.page-page .form-main .form-list .get-code, .page-page .form-main .form-list .wait-code {
  position: absolute;
  text-align: center;
  right: 0;
  top: 0;
  height: calc(11.5555555556vw - 4px);
  width: 24.8888888889vw;
  line-height: calc(11.5555555556vw - 4px);
  font-size: 3.3777777778vw;
  border-left: 2px solid #d4d4d4;
  color: #1c28c7;
}
.page-page .form-main .form-list .wait-code {
  color: #aaa;
}
.page-page .form-main .form-list-check {
  padding-bottom: 1.7777777778vw;
}
.page-page .form-main .form-list-check .form-title {
  font-size: 3.5555555556vw;
  line-height: 1;
  margin-bottom: 1.7777777778vw;
  color: #333;
}
.page-page .form-main .form-list-check .common-checkbox-txt {
  margin-right: 2.5777777778vw;
  margin-bottom: 1.7777777778vw;
}
.page-page .form-main .form-list-check .common-checkbox-txt:nth-of-type(4) {
  margin-right: 0;
}
.page-page .form-main .pact {
  font-size: 2.6666666667vw;
  padding-top: 1.7777777778vw;
  margin-bottom: 6.2222222222vw;
  color: #999;
}
.page-page .form-main .pact .pact-checkbox {
  vertical-align: middle;
  margin-top: -2px;
}
.page-page .form-main .pact .blue {
  color: #5189ff;
}
.page-page .form-main .form-btn {
  width: 100%;
  height: 11.5555555556vw;
  border-radius: 1.3333333333vw;
  font-size: 4.2666666667vw;
  line-height: 11.5555555556vw;
  margin-bottom: 4.8888888889vw;
  color: #fff;
  background-color: #1c28c7;
}
.page-page .form-main .warning {
  text-align: center;
  font-size: 3.2vw;
  margin-bottom: 6.2222222222vw;
  color: #333;
}
.page-page .form-main .warning .img {
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 4px;
  width: 3.7333333333vw;
  height: 3.2888888889vw;
}
.page-page .show-floor-1 {
  width: 94.7555555556vw;
  height: 52.4444444444vw;
  margin: 0 auto 8.4444444444vw;
  background: url("../img/img03.png") no-repeat center/100%;
}
.page-page .show-floor-1 .floor-title {
  text-align: center;
  font-weight: bold;
  font-size: 4.2666666667vw;
  height: 10.6666666667vw;
  line-height: 10.6666666667vw;
  color: #fff;
}
.page-page .show-floor-1 .list-main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 89.4222222222vw;
  margin: 0 auto 0;
  padding: 6.2222222222vw 5.3333333333vw 0 1.7777777778vw;
}
.page-page .show-floor-1 .list-main .img-box {
  text-align: center;
  margin: 0 auto;
  width: 14.2222222222vw;
  height: 13.8666666667vw;
}
.page-page .show-floor-1 .list-main p {
  text-align: center;
  font-size: 3.2vw;
  line-height: 1;
  margin-top: 2.0444444444vw;
  color: #3e4147;
}
.page-page .show-floor-1 .list-main p:last-of-type {
  font-size: 2.6666666667vw;
  margin-top: 1.4222222222vw;
  color: #89a2cc;
}
.page-page .show-floor-2 {
  margin-bottom: 6.2222222222vw;
}
.page-page .show-floor-2 .floor-title {
  text-align: center;
  font-weight: bold;
  font-size: 4.9777777778vw;
  margin-bottom: 8vw;
  color: #fff;
}
.page-page .show-floor-2 .show-main {
  width: 91.5555555556vw;
  height: 23.1111111111vw;
  margin: 0 auto;
  background: url("../img/img07.png") no-repeat center/100%;
}
.page-page .show-floor-2 ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 91.5555555556vw;
  margin: 0 auto;
}
.page-page .show-floor-2 ul li {
  box-sizing: border-box;
  width: 29.6vw;
  padding-top: 3.1111111111vw;
}
.page-page .show-floor-2 ul li:first-of-type {
  padding-right: 3.3777777778vw;
}
.page-page .show-floor-2 ul li:last-of-type {
  padding-left: 3.3777777778vw;
}
.page-page .show-floor-2 ul p {
  text-align: center;
  font-size: 3.2vw;
  line-height: 4.2666666667vw;
  color: #fff;
}
.page-page .show-floor-3 {
  box-sizing: border-box;
  width: 87.1111111111vw;
  padding: 2.6666666667vw 0 4.8888888889vw;
  border-radius: 1.3333333333vw;
  margin: 0 auto 4.4444444444vw;
  background-color: rgba(255, 255, 255, 0.14);
}
.page-page .show-floor-3 .small {
  text-align: center;
  font-size: 2.6666666667vw;
  line-height: 4.2666666667vw;
  color: #fff;
}
.page-page .show-floor-3 .big {
  text-align: center;
  font-size: 3.2vw;
  line-height: 4.2666666667vw;
  color: #fff;
}
.page-page .show-floor-3 .mb {
  margin-bottom: 3.9111111111vw;
}
.page-page .show-floor-3 .yellow {
  font-weight: bold;
  color: #ffa800;
}
.page-page .page-footer {
  text-align: center;
  font-size: 1.9555555556vw;
  line-height: 3.2vw;
  padding-bottom: 8vw;
  color: #fff;
}
.page-page .layer-msg {
  position: fixed;
  text-align: center;
  width: 100%;
  top: 35vh;
  z-index: 110;
}
.page-page .layer-msg .msg {
  display: inline-block;
  font-size: 4.2666666667vw;
  height: 8.8888888889vw;
  line-height: 8.8888888889vw;
  padding: 0 3.5555555556vw;
  border-radius: 1.7777777778vw;
  color: #ff2e2e;
  border: 1px solid #ff2e2e;
  background: rgba(255, 255, 255, 0.8);
}
.page-page .layer-pact {
  position: fixed;
  box-sizing: border-box;
  overflow: hidden;
  display: none;
  width: 80vw;
  height: 70vh;
  left: 10vw;
  top: 15vh;
  border-radius: 2.2222222222vw;
  z-index: 110;
  background-color: #fff;
}
.page-page .layer-pact .show-box {
  overflow-y: auto;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 11.5555555556vw);
  padding: 3.5555555556vw;
}
.page-page .layer-pact .layer-btn {
  text-align: center;
  width: 100%;
  height: 11.5555555556vw;
  line-height: 11.5555555556vw;
  border-top: 1px solid #1c28c7;
  color: #1c28c7;
}