


@mixin btn-box($width, $height, $size, $lh: auto) {
    text-align: center;
    box-sizing: border-box;
    width: $width;
    line-height: $height;
    font-size: $size;
    display: block;
}

@mixin inp-box($width, $height, $padding, $size) {
    display: block;
    box-sizing: border-box;
    width: $width;
    line-height: $height;
    padding-left: $padding;
    font-size: $size;
}


@mixin new_list ( $width) {
    width: $width;
    .li {
        @extend %hold;
        width: 100%;
    }
}





@mixin flex($site:center, $item:center, $flex: false) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @if($site==left) {
        justify-content: flex-start;
    }
    @if ($site==right) {
        justify-content: flex-end;
    }
    @if ($site==center) {
        justify-content: center;
    }
    @if ($site==both) {
        justify-content: space-between;
    }
    @if ($item==top) {
        align-items: flex-start;
    }
    @if ($item==bottom) {
        align-items: flex-end;
    }
    @if ($item==center) {
        align-items: center;
    }
    @if ($item==text) {
        align-items: baseline;
    }
    @if ($item==all) {
        align-items: stretch;
    }
    @if($flex){
        flex-direction: row-reverse;
    }
}






@mixin holder($size) {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $size;
  -webkit-box-orient: vertical;
}

/* 设备尺寸 */
$phone_width: 750;
$pad_width: 1200;

/* 媒体查询 */
@mixin pc {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin pad {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        @content;
    }
}

@mixin phone {
    @media screen and (max-width: 767px) {
        @content;
    }
}

@function vw($px) {
    @return ($px / $phone_width) * 100vw;
}

@function vwPad($px) {
    @return ($px / $pad_width) * 100vw;
}