/*font-size*/

$size: 14px !default;

/*webcolor*/

$red: #ff2e2e;
$blue: #2c71ff !default;
$orange: #f80 !default;

/*color*/

$font: #333 !default;
$border: #e5e6e6 !default;
$btnhover: darken($red, 10%) !default;
$err: lighten($red, 10%) !default;
$white: #fff !default;

